<div class="example-container">
    <mat-form-field>
        <textarea matInput placeholder="courseId"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="studentId"></textarea>
    </mat-form-field>
  
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="progress"></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-button (click)="addToMyCourse()">Add!</button>
  </div>