<mat-card>
  <p *ngIf="isLoginForm">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p *ngIf="error!==null" class="error">
          {{ error }}
        </p>
        <div>
          <button mat-raised-button (click)="changeForm()" mat-button>Click here to register</button>
          <button mat-raised-button color="primary" (click)="login()" mat-button class="rightPos">Login</button>
        </div>

      </form>
    </mat-card-content>
  </p>
  <p *ngIf="!isLoginForm">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Account name" formControlName="accountName">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Sex</mat-label>
            <mat-select formControlName="sex">
              <mat-option *ngFor="let item of sexType" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Address" formControlName="address">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Account Type</mat-label>
            <mat-select formControlName="accountType">
              <mat-option *ngFor="let item of accountType" [value]="item.value" >
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <ng-container *ngIf="registerForm?.value['accountType'] == 'Student'">
          <p>
            <mat-form-field>
              <mat-label>Student Level</mat-label>
              <mat-select formControlName="levelStudent">
                <mat-option *ngFor="let item of levelSelect" [value]="item.value" >
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>Achivement</mat-label>
              <mat-select formControlName="achivement">
                <mat-option *ngFor="let item of achivementSelect" [value]="item.value" >
                  {{item.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
        </ng-container>
        <ng-container *ngIf="registerForm?.value['accountType'] == 'Teacher'">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Standard" formControlName="standard">
            </mat-form-field>
          </p>
        </ng-container>
        <p *ngIf="error!==null" class="error">
          {{ error }}
        </p>
        <div class="button">
          <button mat-raised-button (click)="changeForm()" mat-button>Click here to login</button>
          <button mat-raised-button color="primary" (click)="register()" mat-button class="rightPos">Register</button>
        </div>

      </form>
    </mat-card-content>
  </p>
</mat-card>