<mat-table [dataSource]="list">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="courseId">
        <mat-header-cell *matHeaderCellDef> Course ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseId}} </mat-cell>
    </ng-container>
    
    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="courseName">
        <mat-header-cell *matHeaderCellDef> Course Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
    </ng-container>
    
    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="accountName">
        <mat-header-cell *matHeaderCellDef> Student Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accountName}} </mat-cell>
    </ng-container>
    
    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="signUpDate">
        <mat-header-cell *matHeaderCellDef> Sign Up Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.signUpDate}} </mat-cell>
    </ng-container>
    
    a-md-data-table-column
    <!-- press ctrl + space to add more column snippet or delete this line -->
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>