<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->
        <h1>Bach Khoa Academy</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/mycourses'"> My course </a>
            <a mat-button [routerLink]="'/myaccount'"> My Account </a>
        </div>
    </mat-toolbar-row>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</mat-toolbar>
<!-- CONTENT -->
<div class="container">
    <div class="_list_ten">
        <h3> Tên môn học: {{course?.name[0]}} </h3>
    </div>

    <div class="_list_gia_tien">
        <p>Giá: {{course?.price}} </p>
    </div>

    <div class="_list_mo_ta">
        <p> Mô tả:
            {{course?.description}}</p>
    </div>

    <div class="_so_luong">
        <p> Độ dài khoá học: {{course?.length}}</p>
    </div>
    <div class="_1_product">
        {{course?.name[1]}}
        <div>
            <mat-form-field class="example-part-width">
                <textarea #comment matInput placeholder="Leave a comment"></textarea>
            </mat-form-field>
            <ng-container *ngIf="arrComment">
                <p *ngFor="let item of arrComment">
                    {{item?.accountName}} : {{item?.content}}
                </p>
            </ng-container>
        </div>
        
    </div>

    
    <button class="button1" (click)="sendComment(comment.value)">Gửi</button>

    <!-- HEADER WEBSITE -->

    <div class="bar_view">

    </div>
</div>