<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->
    <h1>Bach Khoa Academy</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/mycourses'"> My course </a>
      <a mat-button [routerLink]="'/myaccount'"> My Account </a>
      <a mat-button [routerLink]="'/procedure_select_1_lau/1'"> View comment </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <ng-container *ngIf="listCategories">
    <div class="container">
      <div class="row">
        <div *ngFor="let item of listCategories" class="col-sm-4">
          <div class="card custom-card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/vi/thumb/c/cd/Logo-hcmut.svg/1086px-Logo-hcmut.svg.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <p class="card-text">{{item.info}}</p>
              <h5 class="card-text">Total course : {{item.courseCount}}</h5>
              <a [routerLink]="['/category',item?.id]" class="btn btn-primary">View all courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>