<form class="example-form">
  <mat-form-field class="example-full-width">
    <input #indexinput matInput placeholder="Input id of category" indexinput.value="1">
  </mat-form-field>
  <button mat-button (click)="FindCourseOfCategory(indexinput.value)">Find!</button>
</form>

<br />

<table mat-table [dataSource]="list" class="mat-elevation-z8">
    
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="courseLength">
      <th mat-header-cell *matHeaderCellDef> Length </th>
      <td mat-cell *matCellDef="let element"> {{element.courseLength}} </td>
    </ng-container>

    <ng-container matColumnDef="courseLevel">
        <th mat-header-cell *matHeaderCellDef> Length </th>
        <td mat-cell *matCellDef="let element"> {{element.courseLevel}} </td>
      </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="teacherId">
        <th mat-header-cell *matHeaderCellDef> TeacherId </th>
        <td mat-cell *matCellDef="let element"> {{element.teacherId}} </td>
    </ng-container>

    <ng-container matColumnDef="numOfStudent">
        <th mat-header-cell *matHeaderCellDef> NumStudent </th>
        <td mat-cell *matCellDef="let element"> {{element.numOfStudent}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<br />
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input #priceinput matInput placeholder="Input price to find course" priceinput.value="0">
    </mat-form-field>
    <button mat-button (click)="FindCost(priceinput.value)">Find!</button>
</form>

<table mat-table [dataSource]="listPrice" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="courseLength">
      <th mat-header-cell *matHeaderCellDef> Length </th>
      <td mat-cell *matCellDef="let element"> {{element.courseLength}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="courseLevel">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let element"> {{element.courseLevel}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="CourseAmount">
        <th mat-header-cell *matHeaderCellDef> CourseAmount </th>
        <td mat-cell *matCellDef="let element"> {{element.CourseAmount}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table>



