<table mat-table [dataSource]="proc_comment_2" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="forum_id">
      <th mat-header-cell *matHeaderCellDef> Forum id </th>
      <td mat-cell *matCellDef="let element"> {{element.forum_id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Forum Name </th>
      <td mat-cell *matCellDef="let element"> {{element.ForumName}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="comment_id">
      <th mat-header-cell *matHeaderCellDef> Course ID </th>
      <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="comment_time">
      <th mat-header-cell *matHeaderCellDef> Number of student that commented</th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfStudent}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>