<mat-table [dataSource]="list">
    <ng-container matColumnDef="courseId">
        <mat-header-cell *matHeaderCellDef> Course ID
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseId}} </mat-cell>
    </ng-container>

    <!-- a-md-data-table-column -->
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="lessonId">
        <mat-header-cell *matHeaderCellDef> Lesson ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lessonId}} </mat-cell>
    </ng-container>
    
    <!-- a-md-data-table-column -->
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="courseName">
        <mat-header-cell *matHeaderCellDef> Course Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
    </ng-container>
    
    <!-- a-md-data-table-column -->
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="lessonName">
        <mat-header-cell *matHeaderCellDef> Lesson Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lessonName}} </mat-cell>
    </ng-container>
    
    <!-- a-md-data-table-column -->
    <!-- press ctrl + space to add more column snippet or delete this line -->
    <ng-container matColumnDef="lessonTime">
        <mat-header-cell *matHeaderCellDef> Lenght</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lessonTime}} </mat-cell>
    </ng-container>
    
    <!-- a-md-data-table-column -->
    <!-- press ctrl + space to add more column snippet or delete this line -->
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
