<p>
    <input type="text" [(ngModel)]="id">
    <button (click)="doNavigate()">Find comment</button>
</p>
<table mat-table [dataSource]="proc_comment" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="forum_id">
    <th mat-header-cell *matHeaderCellDef> Forum id </th>
    <td mat-cell *matCellDef="let element"> {{element.forum_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Forum Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="comment_id">
    <th mat-header-cell *matHeaderCellDef> Comment ID </th>
    <td mat-cell *matCellDef="let element"> {{element.comment_id}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="comment_time">
    <th mat-header-cell *matHeaderCellDef> Comment Time </th>
    <td mat-cell *matCellDef="let element"> {{element.comment_time}} </td>
  </ng-container>
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef> Content </th>
    <td mat-cell *matCellDef="let element"> {{element.content}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>